%h1 Details
%p= link_to @target.uri, @target.uri

%table
  %thead
    %tr
      %th Message
      %th Name
      %th Email
      %th Rating
  %tbody
    - @target.comments.each do |comment|
      %tr
        %td=h comment.message
        %td=h comment.name
        %td=h comment.email
        %td=h comment.rating

